<footer class="footer">
  <div class="container">
    <h4>The end Of The Road...</h4>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium
      repudiandae doloribus doloremque? Recusandae, iusto dolor? Ab ipsa rerum
      nulla enim, tempore quos quas? Consectetur ea eos architecto tempora qui
      illo saepe facere!
    </p>

    <div>
      <h5 style="text-align: center">
        here some font-awesome social media icons:
      </h5>
      <div
        style="
          margin: auto;
          max-width: 30rem;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          font-size: 2rem;
        "
      >
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
        <a href="#"><i class="fa fa-stack-overflow"></i></a>
      </div>

      <p class="footer-copyrights">
        © Lorem <a href="#">ipsum dolor</a> 2020 | ® sit
        <a href="#">amet consectetur</a>
      </p>
    </div>
  </div>
</footer>
